#A{
    background-color: red;
    width: 400px;
    height:400px;
}
#B{
    background-color: purple;
    width: 300px;
    height:300px;
}
#C{
    background-color: orange;
    width: 200px;
    height:200px;
}